@import url('../src/dot');

.intro-page {
    .button {
        margin: auto;
    }
}

.grid-example {
    .column {
        position: relative;
        background: @tiny_gray;
        border: 1px solid @light_gray;
        padding: 20px 0;
    }
}

.button-example {
    .button {
        margin-bottom: @padding;
    }
}

.label-example {
    .label {
        margin-bottom: @padding;
    }
}

.icon-example {
    .icon-item {
        cursor: pointer;
    }
}

.dot-icon {
    width: @line_height * 2;
    text-align: center;
}

.main-aside {
    >a {
        padding: @padding/2 0 @padding/2 @padding*2;
        &.active {
            color: @light_green;
        }
    }
}

.__main_aside_mobile_display {
    .main-content {
        width: 100% !important;
        padding: @padding;
    }
    .main-aside {
        overflow: hidden;
        float: none !important;
        width: auto !important;
        >a {
            padding: @padding /2 @padding;
            display: inline-block;
            float: left;
        }
    }
}

@media @tablet_view {
    .__main_aside_mobile_display;
}
@media @mobile_view {
    .__main_aside_mobile_display;
}