@import url('../src/dot.less');

.intro-page {
    .button {
        margin: auto;
    }
}

.grid-example {
    .column {
        position: relative;
        background: @tiny_gray;
        border: 1px solid @light_gray;
        padding: 20px;
    }
}

.button-example {
    .button {
        margin-bottom: 10px;
    }
}