@import url('meta');
@import url('color');

@{NS}.comment {
    margin: @padding 0;
    >.avatar {
        float: left;
        width: @padding * 3.5;
        height: @padding * 3.5;
        margin: @padding/2 0 0;
        overflow: hidden;
        img {
            float: left;
            width: 100%;
            height: 100%;
            background-color: @tiny_gray;
            border-radius: @radius;
        }
        &.angled {
            img {
                border-radius: 0;
            }
        }
        &.round {
            img {
                border-radius: @padding * 2;
            }
        }
    }
    >.content {
        margin-left: @padding * 5;
        >.nickname {
            cursor: pointer;
            display: inline-block;
            color: @black;
        }
        >.text {
            font-size: @line_height * 14/15;
            margin-bottom: @padding /2;
        }
        >.extra {
            font-size: @line_height * 12/15;
            color: @gray;
            display: inline-block;
            margin-left: @padding /2;
            &.right {
                float: right;
            }
            >* {
                margin-right: @padding * 3/10;
            }
        }
        >.action {
            font-size: @line_height * 13/15;
            >a {
                margin-right: @padding/2;
            }
        }
    }
    >.comments {
        margin-left: @padding * 5;
    }
}

@{NS}.item {
    display: table;
    margin-bottom: @padding;
    >.image, >.content {
        display: table-cell;
        vertical-align: middle;
    }
    >.content {
        padding-left: @padding;
        >.header {
            color: @black;
        }
    }
    &.top>.content {
        vertical-align: top;
    }
    &.bottom>.content {
        vertical-align: bottom;
    }
    >.image {
        overflow: hidden;
        >img {
            float: left;
            max-width: 100%;
            height: auto;
        }
    }
}

.__cardView() {
    display: block;
    background-color: @white;
    border: 1px solid @tiny_gray;
    margin-bottom: @padding;
    &>.content, &>.extra, &>.header {
        padding: @padding;
    }
    &>.header {
        color: @black;
    }
    &>.extra {
        font-size: .85em;
        color: @dark_gray;
    }
}

@{NS}.card {
    .__cardView();
}

.__cardSize(@size) {
    >.card {
        width: calc(~'100%/@{size} - @{padding}* 2');
    }
}

.__makeEqualCards(@n, @i: 1) when (@i =< @n) {
    &.cards-@{i} {
        .__cardSize(@i);
    }
    .__makeEqualCards(@n, (@i + 1));
}

@{NS}.cards {
    margin: 0 -1 * @padding;
    overflow: hidden;
    >.card {
        .__cardView();
        margin: @padding;
        width: calc(~'25% - @{padding} * 2');
        float: left;
        line-height: 100%;
        height: 100%;
    }
    .__makeEqualCards(@column_count)
}

.__messageSize() {
    ._FONT_PADDING(15, 9);
    &.tiny {
        ._FONT_PADDING(10, 6);
    }
    &.small {
        ._FONT_PADDING(12, 7);
    }
    &.large {
        ._FONT_PADDING(20, 12);
    }
    &.huge {
        ._FONT_PADDING(25, 15);
    }
}

@{NS}.message {
    padding: @padding;
    margin: @padding 0;
    color: @dark_gray;
    border-radius: @radius;
    background-color: @mini_gray;
    border: 1px solid @light_gray;
    &>.header {
        line-height: initial;
        color: @most_gray;
    }
    &.icon {
        >.icon, >.content {
            display: table-cell;
            vertical-align: middle;
        }
        >.icon {
            font-size: inherit;
            padding-right: @padding * 1.5;
        }
    }
    &.info {
        background-color: @mini_cyan;
        color: @most_cyan;
    }
    &.warning {
        background-color: @mini_lime;
        color: @most_lime;
    }
    &.success {
        color: @dark_green;
    }
    &.error {
        background-color: @mini_red;
        color: @most_red;
    }
    .__messageSize();
}

@{NS}.progress {
    position: relative;
    display: block;
    @_h: @line_height * 6/15;
    height: @_h;
    font-size: @_h;
    background-color: @tiny_gray;
    border-radius: @_h/2;
    overflow: hidden;
    margin-bottom: @padding;
    >.bar {
        width: 0;
        font-size: inherit;
        overflow: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        text-align: center;
        line-height: 100%;
        color: @white;
        background-color: @blue;
        line-height: 100%;
        vertical-align: middle;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    &.success {
        >.bar {
            background-color: @green;
        }
    }
    &.error {
        >.bar {
            background-color: @red;
        }
    }
    .__progressSize(@size){
        & {
            @_h: @size * @line_height/15;
            height: @_h;
            font-size: @_h;
            >.bar {
                height: @_h;
            }
        }
    }
    &.warning {
        >.bar {
            background-color: @orange;
        }
    }
    &.small {
       .__progressSize(4);
    }
    &.large {
       .__progressSize(12);
    }
}