.colorBtn(@color){
    &.@{color}{
        @_dark: 'dark_@{color}';
        @_deep: 'deep_@{color}';
        background-color: @@_dark;
        color: @tiny_gray;
        border-color: @@_dark;
        &:hover {
            color: @white;
            background-color: @@color;
            border-color: @@_deep;
        }
        &.basic {
            background-color: @white;
            color: @@_dark;
            border-color: @@_dark;
            &:hover {
                background-color: @white;
                color: @@_deep;
                border-color: @@_deep;
            }
        }
    }
}



@{NS}.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: @deep_gray;
    border-radius: @radius;
    background-color: @tiny_gray;
    font-weight: 500;
    font-size: @line-height;
    line-height: @line-height;
    min-height: @line-height;
    border: 1px solid @light_gray;
    margin: 0 @padding 0 0;
    padding: @padding * 8/10 @padding * 12/10;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &:hover {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        color: @most_gray;
        background-color: @mini_gray;
        border: 1px solid @gray;
    }

    &.angled {
        border-radius: 0;
    }

    @{NS}.icon {
        width: @line-height;
        height: @line-height;
        font-size: inherit;
        color: inherit;
        line-height: @line-height + 1;
    }

    &.fluid {
        display: block;
        width: 100%;
    }

    &.icon-button {
        >.icon {
            margin: 0 @padding * 8/10 0 0;
            float: left;
        }
    }

    &.tiny {
        @_font: @line-height * 12/15;
        padding: @padding * 2/10 @padding * 5/10;
        font-size: @_font;
        >.icon {
            width: @_font;
            height: @_font;
            margin: 0 @padding * 3/10 0 0;
        }
    }
    &.small {
        padding: @padding * 5/10 @padding * 8/10;
        @_font: @line-height * 13/15;
        font-size: @_font;
        >.icon {
            width: @_font;
            height: @_font;
            margin: 0 @padding * 5/10 0 0;
        }
    }
    &.large {
        padding: @padding @padding * 15/10;
        @_font: @line-height * 18/15;
        font-size: @_font;
        >.icon {
            width: @_font;
            height: @_font;
            margin: 0 @padding 0 0;
        }
    }
    &.huge {
        padding: @padding * 12/10 @padding * 25/10;
        @_font: @line-height * 20/15;
        font-size: @_font;
        font-size: @_font;
        >.icon {
            width: @_font;
            height: @_font;
            margin: 0 @padding * 12/10 0 0;
        }
    }

    &.circle {
        padding: @padding * 18/10;
        border-radius: @padding * 18/10 + @line-height/2;
        width: 0;
        height: 0;
        position: relative;
        >.icon {
            ._AB_CENTER;
            line-height: initial;
        }
        &.tiny {
            padding: @padding * 12/10;
            border-radius: @padding * 12/10 + @line-height/2;
        }
        &.small {
            padding: @padding * 15/10;
            border-radius: @padding * 15/10 + @line-height/2;
        }
        &.large {
            padding: @padding * 21/10;
            border-radius: @padding * 21/10 + @line-height/2;
        }
        &.huge {
            padding: @padding * 24/10;
            border-radius: @padding * 24/10 + @line-height/2;
        }
    }

    &.black {
        color: @tiny_gray;
        background-color: @black;
        border-color: @most_gray;
        &:hover {
            background-color: @most_gray;
            color: @white;
            border-color: @black;
        }
        &.basic {
            color: @deep_gray;
            background-color: @white;
            &:hover {
                color: @black;
            }
        }
    }
    .colorBtn(red);
    .colorBtn(pink);
    .colorBtn(purple);
    .colorBtn(indigo);
    .colorBtn(blue);
    .colorBtn(cyan);
    .colorBtn(teal);
    .colorBtn(green);
    .colorBtn(lime);
    .colorBtn(amber);
    .colorBtn(orange);
    .colorBtn(brown);
    .colorBtn(gray);
    .colorBtn(bluegray);
    .colorBtn(yellow);
    &.lime,
    &.amber,
    &.orange,
    &.yellow {
        color: @deep_gray;
        &:hover {
            color: @most_gray;
        }
    }
}

@{NS}.button-group {
    >.button {
        margin-right: 0;
        border-radius: 0;
        &:first-child {
            border-top-left-radius: @radius;
            border-button-left-radius: @radius;
        }
        &:last-child {
            border-top-right-radius: @radius;
            border-button-right-radius: @radius;
            margin-right: @padding;
        }
    }
    &.vertical {
        >.button {
            border-radius: 0;
        }   
    }
}