.__btnSize(@group) when(@group = false) {
    ._FONT_PADDING(16, 8);
    &.tiny {
        ._FONT_PADDING(10, 5);
    }
    &.small {
        ._FONT_PADDING(12, 6);
    }

    &.large {
        ._FONT_PADDING(20, 10);
    }
    &.huge {
        ._FONT_PADDING(24, 12);
    }
}

.__btnSize(@group) when(@group = true) {
    >.button {
        ._FONT_PADDING(16, 8);
    }
    &.tiny>.button {
        ._FONT_PADDING(10, 5);
    }

    &.small>.button {
        ._FONT_PADDING(12, 6);
    }
    &.large>.button {
        ._FONT_PADDING(20, 10);
    }
    &.huge>.button {
        ._FONT_PADDING(24, 12);
    }
}


@{NS}.button {
    /*style*/
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: @deep_gray;
    border-radius: @radius;
    background-color: @tiny_gray;
    font-weight: 500;
    font-size: @line-height;
    min-height: @line-height;
    border: 1px solid @light_gray;
    margin: 0 @padding 0 0;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &.active {
        background-color: @soft_gray;
        border-color: @soft_gray;
    }
    &:hover {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        color: @most_gray;
        background-color: @mini_gray;
        border: 1px solid @gray;
    }

    &.angled {
        border-radius: 0;
    }

    @{NS}.icon {
        vertical-align: middle;
        font-size: 1em;
        color: inherit;
    }

    &.float-right {
        margin-right: 0;
    }

    &.fluid {
        display: block;
        width: 100%;
    }
    /*button size*/
    .__btnSize(false);
    /*color button*/
    ._COLOR_EL;
}

@{NS}.button-group {
    >.button {
        margin-right: 0;
        border-radius: 0;
        margin-bottom: @padding;
        &:first-child {
            border-top-left-radius: @radius;
            border-bottom-left-radius: @radius;
        }
        &:last-child {
            border-top-right-radius: @radius;
            border-bottom-right-radius: @radius;
            margin-right: @padding;
        }
    }
    /*button group size*/
    .__btnSize(true);
    &.vertical {
        border-radius: 0;
        display: inline-block;
        margin: 0 0 @padding 0;
        &:not(.float-right) {
            margin-right: @padding;
        }
        >.button {
            width: 100%;
            display: block;
            border-radius: 0;
            margin: 0 0 0 0;
            &:first-child {
                border-top-left-radius: @radius;
                border-top-right-radius: @radius;
            }
            &:last-child {
                border-bottom-left-radius: @radius;
                border-bottom-right-radius: @radius;
            }
        }
    }
}