@{NS}.checkbox, @{NS}.radio {
    position: relative;
    display: inline-block;
    line-height: 1em;
    font-size: @normal_font_size;
    margin-right: @padding;
    vertical-align: middle;
    input {
        &[type=checkbox], &[type=radio] {
            ._AB_CENTER;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
            & + label {
                position: relative;
                z-index: 0;
                padding-left: 1.2em;
                display: inline-block;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 1em;
                    width: 1em;
                    height: 1em;
                    font-family: @icon_family;
                }
            }
        }
    }

    &.disabled {
        opacity: .8;
        color: @gray;
        input {
            &[type=checkbox], &[type=radio] {
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }

}
@{NS}.checkbox {
    input[type=checkbox] {
        &:checked + label{
            &:before {
                content: 'check_box';
            }
        }
        & + label {
            &:before {
                content: 'check_box_outline_blank';
            }
        }
    }
}

@{NS}.radio {
    input[type=radio] {
        &:checked + label{
            &:before {
                content: 'radio_button_checked';
            }
        }
        & + label {
            &:before {
                content: 'radio_button_unchecked';
            }
        }
    }
}