@import url('meta');
@import url('media');

.__makeFields(@n, @i: 1) when (@i =< @n) {
    .fields-@{i} {
        overflow: hidden;
        position: relative;
        &>.field:first-child {
            padding-left: 0;
        }
        &>.field:last-child {
            padding-right: 0;
        }
        .field {
            width: 100% / @i;
            float: left;
            padding: 0 @padding/2;
        }
    }
    .fields {
        .field-@{i} {
            padding: 0 @__inline_paadding;
            float: left;
            width: (@i / @column_count) * 100%;
        }
    }
    .__makeFields(@n, (@i + 1));
}

.__mobileFields(@n, @i: 1) when (@i =< @n) {
    .fields-@{i} {
        .field {
            width: auto;
            float: none;
            padding: 0;
            margin-bottom: @__margin_bottom;
        }
        &>.field:last-child {
            margin-bottom: 0;
        }
    }
    .fields {
        .field-@{i} {
            width: auto;
            float: none;
            padding: 0;
            margin-bottom: @__margin_bottom;
        }
    }
    .__mobileFields(@n, (@i + 1));
}

@{NS}.form {
    @__margin_bottom: @padding * 1.4;
    @__inline_paadding: @padding * .5;
    padding: @padding * 2;
    width: 100%;
    .field {
        overflow: hidden;
        line-height: @line_height * 2;
        margin-bottom: @__margin_bottom;
        input, textarea {
            width: 100%;
        }
        .field {
            margin-bottom: 0;
        }
        .label:nth-child(1) {
            &:not(@{NS}) {
                padding: 0 0 @padding * 4/10;
                background: initial;
                text-shadow: none;
                border-radius: 0;
                margin: 0;
                line-height: @line_height;
                font-size: @line_height;
                color: @deep_gray;
                word-wrap: break-word;
                display: block;
            }
        }
        .__makeFields(16);
        .fields {
            overflow: hidden;
            position: relative;
            &>:first-child {
                padding-left: 0;
            }
            &>:last-child {
                padding-right: 0;
            }
            >.field {
                margin-bottom: @__margin_bottom;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        input, textarea, select {
            width: 100%;
        }
        &.inline {
           input, textarea, select {
               width: auto;
               display: inline;
               padding: 0 @__inline_paadding;
           } 
        }
    }

    &.inline {
        &.trim>.field {
            >.label:nth-child(1) {
                text-align: right;
            }
        }
        >.field {
            width: 100%;
            overflow: hidden;
            position: relative;
            >.label:nth-child(1) {
                width: 100px;
                vertical-align: top;
                width: @padding * 10;
                padding: @padding * 8/10 0;
                padding-right: @padding;
                float: left;
            }
        }
        .action {
            margin-left: @padding * 10;
        }
    }
}

@media @mobile_view {
    @__margin_bottom: @padding * 1.4;
    @__inline_paadding: @padding * .5;
    @{NS}.inline.form>.field>.label:nth-child(1) {
        float: none;
        width: auto;
    }
    @{NS}.form .field {
        .__mobileFields(16);
    }
}