@import url('meta');
@import url('media');
@import url('_input_size');

@{NS}.form {
    padding: @padding * 2;
    width: 100%;
    &.basic {
        padding: 0;
    }
    &.fluid {
        width: 100%;
    }
    .field {
        margin-bottom: @padding * 1.4;
        label:nth-child(1), .label:nth-child(1) {
            word-wrap: break-word;
            display: block;
        }
        ._INPUT_SIZE(14, 7);
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                width: 100%;
            }
        }
        &.inline {
            input {
                &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                    width: 100px;
                    display: inline;
                    margin-right: @padding * .5;
                }
            }  
        }
    }

    &.inline {
        .field {
            width: 100%;
            display: table;
        }
        &.trim .field {
            .label:nth-child(1), label:nth-child(1) {
                text-align: right;
            }
        }
        .field {
            label:nth-child(1), .label:nth-child(1) {
                display: table-cell;
                vertical-align: top;
                width: @padding * 10;
                padding: @padding * 4/10 0;
                padding-right: @padding;
            }
        }
        .action {
            margin-left: @padding * 10;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                display: table-cell;
                vertical-align: top;
            }
        } 
    }
}
@media @desktop_view {
    @{NS}.form {
        width: 600px;
    }
}