@{NS}.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}

@{NS}.float {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
    &-none {
        float: none;
    }
}