@{NS}.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-major {
        font-size: 18px;
        font-weight: 500;
    }
    &-content {
        font-size: 16px;
    }
    &-extra {
        font-size: 12px;
    }
}

@{NS}.padding {
    padding: @padding;
}

@{NS}.float {
    &-left {
        float: left !important;
    }
    &-right {
        float: right !important;
    }
    &-none {
        float: none !important;
    }
}

@{NS}.field {
    margin-bottom: @padding !important;
}

@{NS}.block {
    padding: @padding !important;
    margin-bottom: @padding !important;
}

._AB_CENTER {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@{NS}.break-word {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@{NS}.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
