@{NS}.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-major {
        font-size: 18px;
        font-weight: 500;
    }
    &-content {
        font-size: 16px;
    }
    &-extra {
        font-size: 12px;
    }
}

@{NS}.padding {
    padding: @padding;
}

@{NS}.float {
    &-left {
        float: left !important;
    }
    &-right {
        float: right !important;
    }
    &-none {
        float: none !important;
    }
}

@{NS}.field {
    margin-bottom: @padding;
}

@{NS}.block {
    padding: @padding;
    margin-bottom: @padding;
}

._AB_CENTER {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
