@import url('meta');

.__defaultColumn() {
    float: left;
    padding: @padding;
}

.__defaultRow(){
    display: block;
    overflow: hidden;
    margin-bottom: @padding;
}

.__gridColumns(@n, @i: 1) when (@i =< @n) {
    &-@{i} {
        overflow: hidden;
        position: relative;
        .column {
            .__defaultColumn();
            width: 100% / @i;
        }
    }
    .__gridColumns(@n, (@i + 1));
}

.__unequalColumns(@n, @i: 1) when (@i =< @n) {
    .column-@{i} {
        .__defaultColumn();
        width: (@i / @column_count) * 100%;
    }
    .__unequalColumns(@n, (@i + 1));
}

.__rowColumn(@n, @i: 1) when (@i =< @n) {
    .row-@{i} {
        .__defaultRow();
        .column {
            width: 100% / @i;
        }
    }
    .__rowColumn(@n, (@i + 1));
}

@{NS}.grid {
    overflow: hidden;
    position: relative;
    .column {
        .__defaultColumn();
    }
    .row {
        .__defaultRow();
    }

    .__unequalColumns(@column_count);
    .__gridColumns(@column_count);
    .__rowColumn(@column_count);
}
