.__circleImg(@w){
    &.circle {
        border-radius: 50%;
        >img {
            border-radius: 50%;
        }
        &.landscape, &.portrait {
            overflow: hidden;
            width: @w;
            height: @w;
            >img {
                border-radius: 0;
                max-width: none;
                width: auto;
                height: 100%;
                margin-left: -1 * @w /4;
            }
        }
        &.portrait {
            >img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }
    &.fluid {
        >img {
            display: block;
            width: 100%;
        }
    }
}

.__isAImg(@isImg) when(@isImg = false) {
    &.middle>img {
        @_width: @padding * 300/10;
        width: @_width;
    }
    &.mini>img { 
        width: @padding * 30/10; 
    }
    &.tiny>img { 
        width: @padding * 60/10; 
    }
    &.small>img { 
        width: @padding * 150/10; 
    }
    &.large>img { 
        width: @padding * 450/10; 
    }
    &.big>img { 
        width: @padding * 600/10; 
    }
    &.huge>img { 
        width: @padding * 800/10; 
    }
    &.massive>img { 
        width: @padding * 960/10; 
    }
    &.round>img {
        border-radius: @radius
    }
}

.__isAImg(@isImg) when(@isImg = false) {
    &.middle {
        @_width: @padding * 300/10;
        width: @_width;
        .__circleImg(@_width);
    }
    &.mini { 
        @_width: @padding * 30/10;
        width: @_width;
        .__circleImg(@_width);
    }
    &.tiny { 
        @_width: @padding * 60/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.small { 
        @_width: @padding * 150/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.large { 
        @_width: @padding * 450/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.big { 
        @_width: @padding * 600/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.huge { 
        @_width: @padding * 800/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.massive { 
        @_width: @padding * 960/10; 
        width: @_width;
        .__circleImg(@_width);
    }
    &.round {
        border-radius: @radius
    }
}


@{NS}.image {
    &:not(img) {
        .__isAImg(false);
        >img {
            max-width: 100%;
            height: auto;
        }
    }
}

img@{NS}.image {
    max-width: 100%;
    height: auto;
    .__isAImg(true)
}