.__circleImg(@w){
    &.circle {
        border-radius: 50%;
        >img {
            border-radius: 50%;
        }
        &.landscape, &.portrait {
            overflow: hidden;
            width: @w;
            height: @w;
            >img {
                border-radius: 0;
                max-width: none;
                width: auto;
                height: 100%;
                margin-left: -1 * @w /4;
            }
        }
        &.portrait {
            >img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }
}

.__calcImgSize(@size) {
    @_width: @padding * @size/10;
    img& {
        width: @_width;
        &.circle {
            border-radius: @_width/2;
        }
    }
    &:not(img) {
        .__circleImg(@_width);
        > img {
            width: @_width;
        }
    }
}

.__imgSize() {
    &.middle {
        .__calcImgSize(300);
    }
    &.mini { 
        .__calcImgSize(30);
    }
    &.tiny { 
        .__calcImgSize(60);
    }
    &.small { 
        .__calcImgSize(150);
    }
    &.large { 
        .__calcImgSize(450);
    }
    &.big { 
        .__calcImgSize(600);
    }
    &.huge { 
        .__calcImgSize(800);
    }
    &.massive { 
        .__calcImgSize(860);
    }
    &.round {
        border-radius: @radius
    }
    &.fluid {
        display: block;
        width: 100%;
    }
}

@{NS}.image {
    &:not(img) {
        >img {
            max-width: 100%;
            height: auto;
        }
    }
    img& {
        max-width: 100%;
        height: auto;
    }
    .__imgSize();
}
