.__img_structed {
    max-width: 100%;
    border-radius: @radius;
    height: auto;
    &.angled {
        border-radius: 0;
    }
}

.__imgSize(@isImg) when(@isImg = false) {
    &>img {width: @padding * 300/10;}
    &.mini>img { width: @padding * 30/10; }
    &.tiny>img { width: @padding * 60/10; }
    &.small>img { width: @padding * 150/10; }
    &.large>img { width: @padding * 450/10; }
    &.big>img { width: @padding * 600/10; }
    &.huge>img { width: @padding * 800/10; }
    &.massive>img { width: @padding * 960/10; }
}

.__imgSize(@isImg) when(@isImg = false) {
    width: @padding * 300/10;
    &.mini { width: @padding * 30/10; }
    &.tiny { width: @padding * 60/10; }
    &.small { width: @padding * 150/10; }
    &.large { width: @padding * 450/10; }
    &.big { width: @padding * 600/10; }
    &.huge { width: @padding * 800/10; }
    &.massive { width: @padding * 960/10; }
}


@{NS}.image {
    &:not(img) {
        .__imgSize(false);
        >img {
            .__img_structed;
        }
    }
}

img@{NS}.image {
    .__img_structed;
    .__imgSize(true)
}