@import url('meta');
@import url('color');
@import url('_input_size');


@{NS}.input, @{NS} .input {
    position: relative;
    overflow: hidden;
    display: inline;
}

@{NS}.input {
    input, &input {
        vertical-align: middle;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    &.angled>input, input&.angled {
        &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
            border-radius: 0;
        }
    }
    &.angled>textarea, &.angled>.button, &.angled>.icon, textarea&.angled {
        border-radius: 0;
    }

    &.fluid>input, input&.fluid {
        &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
            width: 100%;
        }
    }
    &.fluid>textarea, textarea&.fluid {
        width: 100%;
    }

    &.action {
        display: table;
        .button {
            margin: auto;
            width: 100%;
            border-radius: 0;
            margin-right: 0;
        }

        >.action, input {
            display: table-cell;
            vertical-align: bottom;
        }
        >.action>.button {
            margin: auto;
            width: 100%;
            display: block;
            border-radius: inherit;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
                width: 100%;
            }
        }

        textarea {
            width: 100%;
        }
        >:first-child {
            border-top-left-radius: @radius;
            border-bottom-left-radius: @radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        >:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: @radius;
            border-bottom-right-radius: @radius;
        }
        &.fluid {
            width: 100%;
            >.action {
                width: 5em;
            }
        }
    }
    
    ._INPUT_SIZE(14, 7);
    &.tiny {
        ._INPUT_SIZE(10, 5);
    }
    &.small {
        ._INPUT_SIZE(12, 6);
    }
    &.large {
        ._INPUT_SIZE(18, 9);
    }
    &.huge {
        ._INPUT_SIZE(22, 11);
    }
    input, input& {
        &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
            &:focus {
                border-color: @light_blue;
            }
        } 
    }
    textarea {
        &:focus {
            border-color: @light_blue;
        }
    }
    &.focus {
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
                border-color: @light_blue;
            } 
        }
        textarea {
            border-color: @light_blue;
        }
    }
    &.disabled {
        input {
            disabled: disabled;
            cursor: not-allowed;
            pointer-events: none;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
                border-color: @light_gray;
                background-color: @mini_gray;
                opacity: .85;
            }
        }
        textarea {
            cursor: not-allowed;
            pointer-events: none;
            border-color: @light_gray;
            background-color: @mini_gray;
            opacity: .85;
        }
    }
    &.error>input, input&.error {
        &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
            border-color: @red;
            &:focus {
                border-color: @light_red;
            }
        }
    }
    &.error>textarea, textarea&.error {
        border-color: @red;
        &:focus {
            border-color: @light_red;
        }
    }
    
    &.icon {
        display: inline-block;
        .icon {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            right: initial;
        }
        input+.icon{
            left: initial;
            right: 0;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &[type='date'], &[type='datetime-local'], &[type='time'] {
                width: 100%;
            }
        }
    }
}