@import url('meta');
@import url('color');

.__inputSize(@size, @_pd){
    @_padding: @padding * @_pd / 10;
    @_lh: @line_height * @size / 15;
    @_border_radius: @line_height * @size / 15 + @padding * @_pd / 10;
    input, .button {
        font-size: @_lh;
        padding: @_padding;
        line-height: @_lh;
        height: @_lh + @_padding * 2 + 2px;
    }

    &.icon {
        &.fluid {
            display: block;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                padding-right: @_padding * 2 + @_lh + 4px;
            }
        }

        &.left {
            input {
                &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                    padding-left: @_padding * 2 + @_lh + 4px;
                    padding-right: @_padding;
                }
            }
        }
    }

    .icon {
        /*add two border, two padding, lin-height*/
        cursor: pointer;
        width: @_padding * 2 + @_lh + 2px;
        text-align: center;
        line-height: @_padding * 2 + @_lh + 2px;
        font-size: @_lh + 2px;
    }

    &.round {
        >:first-child {
            border-top-left-radius: @_border_radius;
            border-bottom-left-radius: @_border_radius;
        }
        >:last-child {
            border-top-right-radius: @_border_radius;
            border-bottom-right-radius: @_border_radius;
        }
    }
}
@{NS}.input {
    position: relative;
    overflow: hidden;
    display: inline;
    input {
        vertical-align: middle;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    &.angled {
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                border-radius: 0;
            }
        }
        textarea, .button, .icon {
            border-radius: 0;
        }
    }

    &.fluid {
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                width: 100%;
            }
        }
        textarea {
            width: 100%;
        }
    }

    &.action {
        .button {
            border-radius: 0;
            margin-right: 0;
        }
        display: table;
        >* {
            display: table-cell;
            margin: 0;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                width: 100%;
            }
        }
        textarea {
            width: 100%;
        }
        >:first-child {
            border-top-left-radius: @radius;
            border-bottom-left-radius: @radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        >:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: @radius;
            border-bottom-right-radius: @radius;
        }
        &.fluid {
            width: 100%;
            .button {
                width: 5em;
            }
        }
    }
    
    .__inputSize(14, 7);
    &.tiny {
        .__inputSize(10, 5);
    }
    &.small {
        .__inputSize(12, 6);
    }
    &.large {
        .__inputSize(18, 9);
    }
    &.huge {
        .__inputSize(22, 11);
    }
    input {
        &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
            &:focus {
                border-color: @light_blue;
            }
        }
    }
    textarea {
        &:focus {
            border-color: @light_blue;
        }
    }
    &.focus {
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email']{
                border-color: @light_blue;
            } 
        }
        textarea {
            border-color: @light_blue;
        }
    }
    &.disabled {
        input {
            disabled: disabled;
            cursor: not-allowed;
            pointer-events: none;
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                border-color: @light_gray;
                background-color: @mini_gray;
                opacity: .85;
            }
        }
        textarea {
            cursor: not-allowed;
            pointer-events: none;
            border-color: @light_gray;
            background-color: @mini_gray;
            opacity: .85;
        }
    }
    &.error {
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'] {
                border-color: @red;
                &:focus {
                    border-color: @light_red;
                }
            }
        }
        textarea {
            border-color: @red;
            &:focus {
                border-color: @light_red;
            }
        }
    }
    &.icon {
        display: inline-block;
        .icon {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
        &.left .icon{
            left: 0;
            right: initial;
        }
        input {
            &[type='text'], &[type='number'], &[type='url'], &[type='tel'], &[type='password'], &[type='email'], &textarea {
                width: 100%;
            }
        }
    }
}