@NS: .dot;
@padding: 10px;
@radius: 3px;
@line-height: 15px;
@column_count: 16;
@icon_family: 'Material Icons';
@normal_font_size: @line-height + 1px;
@large_desktop: 1200px;
@small_desktop: 991px;
@tablet: 768px;

._NO_USER_SELECT {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}