blockquote {
    background: #f9f9f9;
    border-left: 3px solid @light_gray;
    margin: @padding 0;
    padding: @padding @padding;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
        color: @gray;
        content: open-quote;
        font-size: @line-height*2;
        line-height: @line-height;
        margin-right: @padding * .5;
        vertical-align: -@padding * .8;
    }
    p {
        display: inline;
    }
}

pre, code, tt {
    font-family: Monaco,"Andale Mono","lucida console","Courier New",monospace;
}

pre {
    font-size: @line-height * 13/15;
    line-height: 1.5;
    vertical-align: baseline;
    box-shadow: none;
    padding: @padding;
    overflow: auto;
    color: @blue;
    background: @tiny_gray;
    margin: @padding 0;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: normal; 
}